.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 650px;

    &--align--top{
        justify-content: flex-start;

    }
}

.section__title{
    font-size: 72px;
    color: #f9b43b;
    margin-bottom: 8px;
    font-family: 'gagalin';

    &--centered {
        text-align: center;        
    }

    &--black{
        color: black;
        margin-bottom: 52px;
    }
}

